{% block content %}
  <div class="basket">
    <h1>
      Pasilan toimituspiste
    </h1>
    <h4>
      Porvoonkatu 46
      <i style="cursor:pointer" class="fas fa-map-marker-alt"></i>
    </h4>
    <div>
      <table>
        <thead>
          <tr>
            <th>Tuote</th>
            <th>Hinta</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Peruna 5 kg</td>
            <td>5 €</td>
          </tr>
          <tr>
            <td>Porkkana 3kg</td>
            <td>3,6 €</td>
          </tr>
          <tr>
            <td>Sipuli 2 kg</td>
            <td>4 €</td>
          </tr>
        </tbody>
      </table>
    </div>
    <br />
    <br />
    <br />
    <button class="btn buy">
      Maksa nyt
    </button>
  </div>
{% endblock %}