{% block content %}
  <div class="basket">
    <h1>
      Pasilan noutopiste
    </h1>
    <h4>
      Ratapihantie 13
      <button type="button" class="btn ajax" data-dump="#modal"
      data-url="//maps.google.com/maps?width=100%&amp;height=400&amp;hl=en&amp;q=Ratapihantie%2013+()&amp;ie=UTF8&amp;t=&amp;z=14&amp;iwloc=B&amp;output=embed">
        <i class="fas fa-map-marker-alt"></i>
      </button>
    </h4>
    <div>
      <table>
        <thead>
          <tr>
            <th>Tuote</th>
            <th>Hinta</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Peruna 5 kg</td>
            <td>5 €</td>
          </tr>
          <tr>
            <td>Porkkana 3kg</td>
            <td>3,6 €</td>
          </tr>
          <tr>
            <td>Sipuli 2 kg</td>
            <td>4 €</td>
          </tr>
        </tbody>
      </table>
    </div>
    <br />
    <br />
    <br />
    <button type="button" data-dump="#modal" data-url="/paid/" class="btn ajax">
      Maksa nyt
    </button>
  </div>
{% endblock %}