<div class="detail">
  <h1>
    Helsingin Heinähattu Oy
  </h1>
  <div class="img">
    Kuva myyjästä
  </div>
  <ul>
    <li>
      Helsinki Porvoonkatu 8
    </li>
    <li>
      Perunoita
      <span class="buy">Osta</span>
    </li>
    <li>
      Persiljaa
      <span class="buy">Osta</span>
      <span class="luomu">Luomu</span>
    </li>
    <li>
      Porkkanoita
      <span class="buy">Osta</span>
      <span class="luomu">Luomu</span>
    </li>
    <li>
      <div class="contact">
        Yhteystiedot
      </div>
    </li>
  </ul>
  <div class="description">
    Myyjän esittely
  </div>
</div>