<!DOCTYPE html>
<html lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1,shrink-to-fit=no">
    <meta name="theme-color" content="#08AE9E">
    <link rel="stylesheet" href="static/styles.css">
    <title>Green Rescue</title>
  </head>
  <body>
    <header>
    <a class="ajax" href="search.html">
      <h1>
        Green Rescue
      </h1>
    </a>
    </header>
    <section class="main">
      <article class="search">
        <p>
          Aseta tuotefiltteri
        </p>
        <div class="dropdown">
          <p class="option">
            Kaikki
          </p>
          <div class="dropdown-content">
            <p class="option">
              Peruna
            </p>
            <p class="option">
              Kaali
            </p>
            <p class="option">
              Porkkana
            </p>  
            <p class="option">
              Mango
            </p>                     
          </div> 
        </div>
        <p>
          <span>
            Näytä vain luomu
          </span>
          <input type="checkbox">
        </p>
        <p class="btns">
          <a class="btn ajax" href="list.html">
            Katso mitä lähiseudulta löytyy
          </a>
        </p>
      </article>
    </section>
    <footer>
      <ul>
        <li>Yhteystiedot</li>
        <li>Muut tiedot</li>
        <li>Lisää tietoa</li>
      </ul>
      <ul>
        <li>Kirjautuminen</li>
        <li>Haku</li>
        <li>Asetukset</li>
      </ul>      
    </footer>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="static/scripts.js"></script>
  </body>
</html>