<article class="list">
  <a class="item ajax" href="detail.html">
    <span>
      Persiljaa 10€ / kg
    </span>
    <span>
      Porvoonkatu 8 Helsinki
    </span>
    <span>
      1.5 km
      <span class="luomu">Luomu</span>
    </span>
    <span>
      Helsingin heinähattu Oy
    </span>
  </a>
  <div class="item">
    <span>
      Perunoita 1€ / kg
    </span>
    <span>
      Porvoonkatu 8 Helsinki
    </span>
    <span>
      1.5 km
    </span>
    <span>
      Helsingin heinähattu Oy
    </span>      
  </div>
  <div class="item">
    <span>
      Porkkanoita 2€ / kg
    </span>
    <span>
      Porvoonkatu 8 Helsinki
    </span>
    <span>
      1.5 km
      <span class="luomu">Luomu</span>
    </span>
    <span>
      Helsingin heinähattu Oy
    </span>     
  </div>
  <div class="item">
    <span>
      Kurkkuja 3 € / kg
    </span>
    <span>
      Kasvikuja 345 Helsinki
    </span>
    <span>
      3.5 km
      <span class="luomu">Luomu</span>
    </span>
    <span>
      Kierot kasvit Ky
    </span>
  </div>
  <div class="item">
    <span>
      Perunoita 1.5 € / kg
    </span>
    <span>
      Kasvikuja 345 Helsinki
    </span>
    <span>
      3.5 km
      <span class="luomu">Luomu</span>
    </span>
    <span>
      Kierot kasvit Ky
    </span>   
  </div>
</article>