<article class="search">
  <p>
    Aseta tuotefiltteri
  </p>
  <div class="dropdown">
    <p class="option">
      Kaikki
    </p>
    <div class="dropdown-content">
      <p class="option">
        Peruna
      </p>
      <p class="option">
        Kaali
      </p>
      <p class="option">
        Porkkana
      </p>  
      <p class="option">
        Mango
      </p>                     
    </div> 
  </div>
  <p>
    <span>
      Näytä vain luomu
    </span>
    <input type="checkbox">
  </p>
  <p class="btns">
    <a class="btn ajax" href="list">
      Katso mitä lähiseudulta löytyy
    </a>
  </p>
</article>