<div class="settings">
  <h2>
    Suodata hakutuloksia
  </h2>
  <ul>
    <li>
      <input type="checkbox">
      Kehä III:n ulkopuoli
    </li>
    <li>
      <input type="checkbox">
      Vantaa
    </li>
    <hr />
    <li>
      <input type="checkbox">
      Vain luomu
    </li>
    <hr />
    <li>
      <input type="checkbox">
      Porkkana
    </li>
    <li>
      <input type="checkbox">
      Kananmuna
    </li>
    <li>
      <input type="checkbox">
      Peruna
    </li>
    <li>
      <input type="checkbox">
      Persilja
    </li>
    <li>
      <input type="checkbox">
      Sipuli
    </li>
  </ul>
  <button class="btn" onclick="closeModal()">
    Lisää hakuehdot
  </button>
</div>